 
<nav class="navbar navbar-expand-lg navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">MENÚ</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a (click)="A()">Home</a></li>
        <li><a (click)="V()">Visualizar Anteproyecto</a></li>
        <li><a (click)="C()">Correcciones</a></li>
        <button (click)="logOut()" class="btn btn-danger navbar-btn">LogOut</button>
      </ul>
    </div>
  </nav>